#!/usr/bin/env bash

set -euo pipefail

if [[ -z "${NIX_PATH}" ]]; then
    # nix is not available
    0;
else
    if nix flake info &>/dev/null; then
        watch_file default.nix
        watch_file flake.lock
        watch_file flake.nix
        watch_file shell.nix
        eval "$(nix print-dev-env)"
    else
        use_nix
    fi
fi
